.info {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 1.5rem 0;

  }

.info__clanek {
    background-color: var(--pozadi-clanku);
    text-align: center;
    padding: 0.8rem;
  }

.info__nadpis {
    color: var(--hlavni-barva);
}

